@font-face{
    font-family: 'Retro';
    src: url('fonts/RetroSignature-2ODoK.ttf')
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-size: cover;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
  
.navigate {
    border: 1px solid blue;
    transition: background-color 0.2s ease;
    font-size: 1rem;
    color: #fff;
    background-color: #222;
    padding: 0.5rem 1rem;  
    text-shadow: 
    0 0 5px #00f,
    0 0 5px #f00;
}

.navigate:hover {
    background-color: blue;
}

.lg-box {
    padding: 1rem 2rem;
    font-size: 1rem;
}

.about-container {
    background-color: #eee;
    padding: 2rem;
}

.about-container h2 {
    font-size: 2rem;
    color: #222;
    margin-bottom: 1rem;
}

.about-container p {
    font-size: 1.2rem;
    color: #444;
}

h1{
    font-family: 'Retro';
}

h2{
    font-family: 'Retro';
}

.clone {
  text-shadow: 
    0 0 5px #00f, /* Blue shadow */
    0 0 5px #f00; /* Red shadow */
}